@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --font-spacemono: 'Space Mono', monospace;

  /* ===== GREY ===== */
  --color-tc-grey-600: oklch(0.45 0.06 200);
  --color-tc-grey-550: oklch(0.52 0.05 200);
  --color-tc-grey-500: oklch(0.55 0.04 200);
  --color-tc-grey-400: oklch(0.62 0.04 200);
  --color-tc-grey-300: oklch(0.7 0.04 200);
  --color-tc-grey-200: oklch(0.86 0.05 200);
  --color-tc-grey-50: oklch(0.97 0.02 200);

  /* ===== GREEN ===== */
  --color-tc-green-900: oklch(0.35 0.08 190);
  --color-tc-green-800: oklch(0.42 0.08 190);
  --color-tc-green-750: oklch(0.48 0.08 190);
  --color-tc-green-400: oklch(0.72 0.13 170);
  --color-tc-green-200: oklch(0.88 0.08 170);

  /* ===== ORANGE ===== */
  --color-tc-orange-400: oklch(0.68 0.16 35);

  /* ===== SPECIAL ===== */
  --color-attribution: oklch(0.55 0.12 260);
}

@layer components {
  .tp-1 {
    /*text-preset*/
    @apply text-5xl leading-[71px] tracking-[-1px] font-bold font-spacemono;
  }
  .tp-2 {
    @apply text-[32px] leading-[47px] tracking-[-0.67px] font-bold font-spacemono;
  }
  .tp-2-mobile {
    @apply text-[32px] tracking-[-0.67px] font-bold font-spacemono;
  }
  .tp-3 {
    @apply text-2xl leading-[36px] tracking-normal font-bold font-spacemono;
  }
  .tp-4 {
    @apply text-[20px] leading-[30px] tracking-normal font-bold font-spacemono;
  }
  .tp-5 {
    @apply text-[16px] leading-[24px] tracking-normal font-bold font-spacemono;
  }
  .tp-6 {
    @apply text-[13-px] leading-[19px] tracking-normal font-bold font-spacemono;
  }
  .button-class {
    @apply px-3 lg:p-3 py-1 bg-tc-green-900 rounded-md  text-white hover:bg-tc-green-400 hover:text-tc-green-900;
  }
  .attribution {
    @apply text-sm text-center font-spacemono text-xs;
  }

  .attribution a {
    @apply text-attribution font-spacemono;
  }
}
